<body>
<div class="ng-cloak App-margin-bottom-m1">
	<section id="signin_main" class="authenty signin-main white_background_color">
      <div class="section-content">
        <div class="container">
          <div class="form-wrap">
            <div class="row">
              <div class="animated {{ animObj['counter'] }}">
                <div class="form-header">
                  <div id="border" class="button_background">

                    <div>
                      <h1 id="trigo_font_style">
                      	{{ counterTextInDOM }}
                      </h1>
                      <br><br>
                      <img id="tym_logo_position" ng-src="{{ logoSrc }}">
                      <br><br>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="countdown width_container">

                        <div>
                          <select class="form-control" ng-model="eventSelected" ng-options="event as event.name for event in events track by event.id" ng-change="displayEventInfo(eventSelected);" >
                          </select>
                        </div>

                        <div id="lugares_disponibles_margin">
                          <strong> {{ sheltersTextInDOM }} </strong>
                        </div>

                        <div class="bloc-time" style="margin-left: 5%;">

                          <button id="button_up" class="figure button_background" ng-click="increaseNumber();" ng-disabled="disableIncreaseNumberDOM">
                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                          </button>

                          <div>

                            <div class="figure button_background button_width">
                              <span class="top button_background number_style">{{firstNumberTextInDOM}}</span>
                              <span class="bottom button_background number_style">{{firstNumberTextInDOM}}</span>
                            </div>

                            <div class="figure button_background button_width">
                              <span class="top button_background number_style">{{secondNumberTextInDOM}}</span>
                              <span class="bottom button_background number_style">{{secondNumberTextInDOM}}</span>
                            </div>

                            <div class="figure button_background button_width">
                              <span class="top button_background number_style">{{thirdNumberTextInDOM}}</span>
                              <span class="bottom button_background number_style">{{thirdNumberTextInDOM}}</span>
                            </div>

                          </div>

                          <button id="button_down" class="figure button_background" ng-click="decreaseNumber();" ng-disabled="disableDecreaseNumberDOM">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                          </button>

                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <button id="button_style" class="btn signin green_background_color App-margintop-p4" ng-if="domObj['updateShelters']" ng-click="updateSheltersAvailable(eventSelected);" ng-disabled="disableUpdateSheltersDOM">
                        {{ text01DOM }}
                      </button>

                      <button id="button_style" class="btn signin green_background_color App-margintop-p4" ng-if="domObj['updatingShelters']" ng-disabled="true">
                        <span class="glyphicon glyphicon-repeat fast-right-spinner"></span>
                        {{ text02DOM }}
                      </button>

                      <button id="button_style" class="btn signin chartreuse_background_color App-margintop-p4" ng-if="domObj['sheltersUpdated']" style="color: black;">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        {{ text03DOM }}
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

<hr />

<counter-displayer class="App-zoom-01"></counter-displayer>
</body>
