.App-zoom-01 {
    zoom: 75% !important;
}

.ng-cloak { 
    display: none !important; 
}

.white_background_color {
    background-color: white !important;
}

.green_background_color {
    background-color: green !important;
}

.chartreuse_background_color {
    background-color: chartreuse !important;
}

.App-margintop-p4 {
    margin-top: 4% !important;
}

.App-margin-bottom-m1 {
    margin-bottom: -1%
}

#App-centerimage {
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#App-centerloader {
  margin-top: -20%;
  margin-left: 30%;
}

#border {
	border-radius: 7%;
	border: 3px solid #E7E7E7; 
}

#trigo_font_style {
	color: gold;
	text-shadow: 2px 2px green;
	margin-top: 1em;
	letter-spacing: -1px;
}

#tym_logo_position {
	margin-top: -4em;
	margin-bottom: -3em;
}

#lugares_disponibles_margin {
    margin-top: 3%; 
    margin-bottom: 3%;
}

.width_container {
    width: 320px;
}

.button_background {
	background: transparent linear-gradient(135deg, #F6F8F9 0%, #E5EBEE 50%, #D7DEE3 51%, #F5F7F9 100%) repeat scroll 0% 0%;
}

#button_style {
	width: 70% !important; 
	margin-left: 0% !important;
	margin-bottom: 2em !important; 
	border-radius: 1em !important; 
	-moz-border-right-colors: none !important;
	box-shadow: 3px 3px 3px 5px lightgrey !important;
}

#button_up {
    width: 85px !important; 
    height: 53px !important; 
    float: unset !important; 
    margin-left: 4% !important; 
    margin-bottom: 1% !important;
}

#button_down {
    width: 85px !important; 
    height: 50px !important; 
    float: unset !important; 
    margin-left: 0% !important; 
    margin-top: 2% !important; 
}

.button_width {
    width: 90px !important;
}

.number_style {
    font-weight: 100 !important; 
    color: red !important;
}

.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.navzilla-thumbnail {
    border-radius: 10% !important;
}

.navzilla-thumbnail:hover {
    border-color: yellowgreen !important;
}

/* New CSS Below */

#vm-loader {
    height: 100vh;
}

.vm-center-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vm-flex-direction-column {
    flex-direction: column;
}